{% extends 'basestructure.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block content %} 
<section id="contact" class="contact_section">
  <form id="contactForm" onsubmit="handleRedirect(event)">
    <h2>Contact Us</h2>
    <input type="text" id="contact-name" placeholder="Your Name" required />
    <input type="email" id="contact-email" placeholder="Your Email" required />
    <input type="tel" id="contact-number" placeholder="Your Contact Number" required />
    <input type="text" id="contact-location" placeholder="Your Location" />
    <textarea id="contact-message" name="message" placeholder="Your Message" rows="5" required></textarea>



    <label for="platform">Choose Marketing Platform:</label>
    <select id="platform" name="platform" required>
      <option value="">-- Select --</option>
      <option value="email">Email</option>
      <option value="facebook">Facebook</option>
      <option value="instagram">Instagram</option>
      <option value="tiktok">TikTok</option>
    </select>
    <button type="submit" class="btn">Send Message</button>
  </form>
</section>

<div class="button-row">
  <a href="{% url 'customer-list-page' %}" class="btn-view-customers-btn">View Customer List</a>
  <a href="{% url 'customer-messages-page' %}" class="btn-view-messages-btn">View Contact Messages</a>
</div>


<div class="map">
  <h2>Visit Us</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5119.894799933796!2d120.58222641170646!3d15.147141463399404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f24345555555%3A0x142f1263800699ab!2sPampang%20Public%20Market!5e1!3m2!1sen!2sph!4v1760696623690!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}

